/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* LAYOUT */
body {
  background-image: url(img/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.main-content {
  max-width: 100%;
  min-width: 300px;
  min-height: 100%;

  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 1fr 1fr 3fr;
}

.h1-container {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 1;
  grid-row: 1;

  min-height: 150px;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 1;
  grid-row: 2;
}