/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* LAYOUT */
body {
  background-image: url(img/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

body,
.main-content,
.dynamic-content {
  width: 100%;
}

.main-content {
  min-width: 300px;
  min-height: 100%;

  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 1fr 1fr 3fr;
}

.h1-container {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 1;
  grid-row: 1;

  min-height: 150px;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1em, 5vw, 3em);

  width: 100%;
  min-width: 300px;
  margin: 0 auto;

  grid-column: 1;
  grid-row: 2;
}

.dynamic-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  grid-column: 1;
  grid-row: 3;

  max-height: 500px;

  overflow-y: auto;
}

.form-container {
  flex: 1;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1em;

  width: 100%;
  max-width: 1200px;
  
  margin: 0 auto;
  padding: 1em 1em;

  flex-grow: 1;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: start;

  text-align: center;

  padding: 2em 1.5em;

  max-width: 270px;
  min-width: 150px;
  min-height: 300px;
}

form {
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}


/* STYLE */

body {
  font-family: sans-serif;
}

h1 {
  font-size: 4rem;
  color: white;
}

.button {
  font-size: 1.7rem;
  font-weight: 700;
  color: white;
  background: none;
  border: 2px solid white;
  border-radius: 20px;

  padding: 1em 2em;
}